/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
}

/* TOP BAR */
.top-bar{
    background:#eeeeee;
    color:#cc0000;
    padding:12px 24px;
    font-weight:700;
}

/* HERO SECTION */
.hero{
    background:#e60000;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 90px;
    min-height:300px;
}

.hero-text h1{
    font-size:56px;
    margin-bottom:15px;
}

.hero-text p{
    font-size:18px;
    max-width:520px;
    line-height:1.5;
}

/* ICON */
.hero-icon img{
    width:140px;
}

.circle{
    width:140px;
    height:140px;
    background:#ddd;
    border-radius:50%;
}

/* CARDS */
.cards{
    display:flex;
    min-height:260px;
}

.card{
    flex:1;
    background:#8b0000;
    color:white;
    padding:40px 30px;
    border-right:2px solid #ff1a1a;
}

.card:last-child{
    border-right:none;
}

.card h3{
    margin-bottom:15px;
    font-size:20px;
}

.card p{
    font-size:14px;
    line-height:1.6;
}

/* RESPONSIVE */
@media(max-width:900px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-icon{
    margin-top:30px;
}

.cards{
    flex-direction:column;
}

.card{
    border-right:none;
    border-bottom:2px solid #ff1a1a;
}

.card:last-child{
    border-bottom:none;
}

}
.logo{
  width: 80px;
  height: auto;
}
