*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f2f2f2;
}

/* NAVBAR */
.class1{
    background:#e6e6e6;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.class2{
    color:#333;
    font-weight:normal;
}

.class3{
    list-style:none;
    display:flex;
    gap:30px;
}

.class3 li{
    font-size:12px;
    color:#38b2ac;
    cursor:pointer;
}

/* HERO */
.class4{
    background:#3cb4ac;
    text-align:center;
    padding:100px 20px;
    color:white;
}

.class5{
    width:130px;
    height:130px;
    background:#1e3a8a;
    border-radius:50%;
    margin:0 auto 25px auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.class5 img{
    width:70px;
}

/* Hero Text */
.class6{
    font-size:32px;
    margin-bottom:10px;
}

.class7{
    font-size:14px;
}

/* CONTENT */
.class8{
    display:flex;
    padding:70px 8%;
    gap:60px;
    background:#f2f2f2;
}

.class9{
    flex:1;
}

.class9 h3{
    margin-bottom:15px;
    color:#000;
}

.class9 p{
    font-size:13px;
    color:#333;
    line-height:1.6;
    margin-bottom:15px;
}

/* GREAT FOOD */
.class12 h3{
    margin-bottom:20px;
}

.class13{
    background:#3cb4ac;
    padding:40px;
    border-radius:6px;
}

.class10{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    text-align:center;
}

.class10 img{
    width:80px;
}

/* Responsive */
@media(max-width:900px){
    .class8{
        flex-direction:column;
    }
}

@media(max-width:600px){
    .class1{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

    .class3{
        flex-wrap:wrap;
        justify-content:center;
    }

    .class6{
        font-size:22px;
    }
}
